<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.siyanhui.mojif.bqss_demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!-- AAA-->
    <!-- bbA-->
    <application

        android:name=".BqssApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="bqmm_app_id"
            android:value="${bqmmAppID}"/>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		//修改第一个地方
        <activity android:name=".ui.QuaterSearchActivity"
                  android:windowSoftInputMode="adjustResize"/>
        //第二个地方修改
        <activity android:name=".ui.HalfSearchActivity"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.FullSearchActivity"
                  android:windowSoftInputMode="adjustResize"/>
        //第三个个地方修改
        <activity android:name=".ui.FullSearchHomePage"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.FullSearchResultPage"
                  android:windowSoftInputMode="stateHidden"/>
				  //修改第二个地方
    </application>
//gittwo 修改了文件
</manifest>